body {
  background-color: rgb(238, 236, 236);
  padding: 20px;
  margin: 0px;
}

#app-container {
  display: flex;
  flex-direction: column;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px lightgray;
}
.sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid red;
  width: 80%;
}

.sub-section hr {
  width: 100%;
  color: white;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 100%;
  padding: 0px;
  /* border: 1px solid blue; */
  margin-bottom: 15px;
}

.date-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
  justify-content: space-between;
}

.info-section h1 {
  font-size: medium;
  margin-left: 10%;
  align-self: flex-start;
}

#name {
  align-self: center;
  margin: 0px;
  font-size: 35px;
  color: gray;
}
#name span {
  color: black;
}


.general-info-input {
  height: 30px;
  width: 100%;
  padding: 0px;
  border-radius: 3px;
  border: 1px solid rgb(196, 194, 194);
}

.date-container .container {
  width: 45%;
}

button {
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: large;
}

.add-button {
  width: 60px;
  margin-left: auto;
}

.complete-button {
  width: 100px;
  background-color: rgb(168, 205, 247);
  margin-left: auto;
}

.sub-section h1, h2, h3, h4 {
  margin: 0;
}

.button-container{
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-left: auto;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.gray {
  color: rgb(116, 114, 114);
}

.green {
  color: rgb(58, 117, 43);
}

.left-aligned { 
  align-self: flex-start;
}

.section-title {
  margin-bottom: 10px;
}

.add-button:hover {
  background-color: rgb(211, 210, 210);
}

.complete-button:hover {
  background-color: rgb(156, 196, 243);
}