body {
  background-color: rgb(238, 236, 236);
  padding: 20px;
  margin: 0px;
}

#app-container {
  display: flex;
  flex-direction: column;
}

.info-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px lightgray;
}
.sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  /* border: 1px solid red; */
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 80%;
  padding: 0px;
  /* border: 1px solid blue; */
  margin-bottom: 15px;
}

.date-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
  justify-content: space-between;
}

.info-section h1 {
  font-size: medium;
  margin-left: 10%;
}

.general-info-input {
  height: 30px;
  width: 100%;
  padding: 0px;
  border-radius: 3px;
  border: 1px solid rgb(196, 194, 194);
}

.date-container .container {
  width: 45%;
}

button {
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: large;
}

.add-button {
  width: 60px;
  background-color: rgb(221, 221, 221);
  margin-left: auto;
  margin-right: 10%;
}

.complete-button {
  width: 100px;
  background-color: rgb(168, 205, 247);
  margin-left: auto;
}

.add-button:hover {
  background-color: rgb(211, 210, 210);
}

.complete-button:hover {
  background-color: rgb(156, 196, 243);
}
